
@import "bootstrap";

.breadcrumb{
  @include gradient-vertical($navbarBackground, $navbarBackground);
    .divider {
    padding: 0 5px;
    font-color: $red;
  }
   a {
    color: $red;
   }
   li {
    display: inline-block;
    @include ie7-inline-block();
    text-shadow: 0 1px 0 $red;
    color: $red;
}
}
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;
  background-color: $black;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
.hero-unit {
  background-color: $black;
}

#forumtext{
  color: $red;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  background-color: $black;
  color: $red;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  background-color: $black;
  color: $red;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

table, table th,
table td {border:none;}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $red;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $red;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
#forum_description{
  size: 30;
}

.post {width:auto; display:table;}  
.post span { padding:1em}  
.post span.left {width:1em; margin:10; background:$red; border:1px solid $red; display:table-cell;} 
.post span.right  { width:100em; border:1px solid $red; display:table-cell;}   

.topic {width:auto; display:table;}  
.topic span {padding:1em}  
.topic span.left {width:1em; margin:10; background:$red; border:1px solid $red; display:table-cell;}  
.topic span.right  { width:100em; border:1px solid $red; display:table-cell;}   

