<footer class="footer">
  <small>
    Designed by Sigma
  </small>
  <nav>
    <ul>
      <li><a href="http://www.earthempires.com">Earth Empires</a></li>
      <li><a href="http://mibbit.com/?server=irc.gamesurge.net&channel=#tiechat">TieChat - Mibbit</a></li>
    </ul>
  </nav>
</footer>
